<!DOCTYPE html>
<html>
<head>
	<title>LOGIN AREA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
		{% with messages=get_flashed_messages() %}
		{% if messages%}
		     {% for message in messages%}
		     <h3>{{message}}</h3>
		     {%endfor%}
		{%endif%}
		{%endwith%}

	</div>
	
	 <form action="/login" method="POST">
	
  <div class="form-group">
    <label for="id">USER MAIL</label>
    <input type="email"  id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password"  id="pwd">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button><br>
   <a href="/register"> Register Here</a>
</form> 

</body>
</html>